@model Recipe
@{
    ViewData["Title"] = "Recipe Details";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">@Model.Name</h1>
            <p class="lead">@Model.Description</p>

            <div class="text-md-right mb-4">
                <img src="@Model.Image" alt="Recipe Image" class="img-fluid" style="max-width: 100%; max-height: 300px;" />
            </div>

            <div class="mb-4">
                <h2 class="mb-3">Time</h2>
                <p><strong>Preparation Time:</strong> @Model.PrepTime minutes</p>
                <p><strong>Cooking Time:</strong> @Model.CookTime minutes</p>
            </div>

            <div class="mb-4">
                <h2 class="mb-3">Ingredients</h2>
                <ul class="list-group">
                    @foreach (var ingredient in Model.Ingridients)
                    {
                        <li class="list-group-item">@ingredient.Name</li>
                    }
                </ul>
            </div>

            <div class="mb-4">
                <h2 class="mb-3">Steps</h2>
                <ol class="list-group">
                    @foreach (var step in Model.Steps)
                    {
                        <li class="list-group-item">@step.Description</li>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>
