<!DOCTYPE html>
<html>
<head>
    <title>Kitchen</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 100px;
            max-height: 100px;
        }

        .recipe-data {
            font-size: 16px; /* Adjust the font-size as needed */
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
        }

        .action-button {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <h1>Download Logs</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th> 
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model)
            {
                <tr>
                    <td><img src="@recipe.Image" alt="Image"/></td>
                    <td class="recipe-data">@recipe.Name</td>
                    <td class="recipe-data">@recipe.Description</td>
                    @{ var totalTime = recipe.CookTime + @recipe.PrepTime; }
                    <td class="recipe-data">@recipe.AppUser?.Email</td>
                    <td class="recipe-data">@totalTime</td>
                    <td class="recipe-data">
                        <a href="@Url.Action("Show", "Recipe", new { id = recipe.Id })" class="btn btn-sm btn-info action-button">Details</a>
                        <br>
                        <a href="@Url.Action("Edit", "Recipe", new { id = recipe.Id })" class="btn btn-sm btn-warning action-button">Edit</a>
                        <br>
                        <a href="@Url.Action("Delete", "Recipe", new { id = recipe.Id })" class="btn btn-sm btn-danger action-button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
